/* Recent project */

@import url("https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500;700&display=swap");

p {
  margin: 0;
}

.recent-project-1 {
  width: 1635px;
  height: 972px;
  padding: 100px 285px 56px 115px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.group-246 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.works {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.group-524 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.project-01 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  height: 100%;
  box-sizing: border-box;
}
.txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}
.ux-case-study {
  color: rgba(20, 19, 19, 1);
  font-size: 18px;
  line-height: 133%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
}

.bally-website-research {
  color: rgba(20, 19, 19, 1);
  font-size: 40px;
  line-height: 100%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 700;
}

.north-_east {
  width: 64px;
  height: 64px;
}

.img {
  width: 315px;
  height: 100%;
}

.project-02 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: 545px;
  height: 100%;
  box-sizing: border-box;
}
.txt-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
}
.title-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}
.ux-case-study-1 {
  color: rgba(20, 19, 19, 1);
  font-size: 18px;
  line-height: 133%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
}

.bally-website-research-1 {
  color: rgba(20, 19, 19, 1);
  font-size: 40px;
  line-height: 100%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 700;
}

.north-_east-1 {
  width: 64px;
  height: 64px;
}

.img-1 {
  width: 315px;
  height: 100%;
}

.group-082 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.project-03 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  height: 100%;
  box-sizing: border-box;
}
.txt-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
}
.title-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}
.ux-case-study-2 {
  color: rgba(20, 19, 19, 1);
  font-size: 18px;
  line-height: 133%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
}

.bally-website-research-2 {
  color: rgba(20, 19, 19, 1);
  font-size: 40px;
  line-height: 100%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 700;
}

.north-_east-2 {
  width: 64px;
  height: 64px;
}

.img-2 {
  width: 315px;
  height: 100%;
}

.project-04 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: 545px;
  height: 100%;
  box-sizing: border-box;
}
.txt-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
}
.title-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}
.ux-case-study-3 {
  color: rgba(20, 19, 19, 1);
  font-size: 18px;
  line-height: 133%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
}

.bally-website-research-3 {
  color: rgba(20, 19, 19, 1);
  font-size: 40px;
  line-height: 100%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 700;
}

.north-_east-3 {
  width: 64px;
  height: 64px;
}

.img-3 {
  width: 315px;
  height: 100%;
}

.button-1 {
  width: fit-content;
  height: 56px;
  box-sizing: border-box;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 15.83px 37.83px;
  box-sizing: border-box;
  background-color: rgba(20, 19, 19, 1);
}
.load-more {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 133%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 500;
}

.north-_east-4 {
  width: 24px;
  height: 24px;
}

.title-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
}
.work {
  color: rgba(20, 19, 19, 1);
  font-size: 18px;
  line-height: 133%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
}

.recent-project {
  color: rgba(20, 19, 19, 1);
  font-size: 48px;
  line-height: 117%;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}






























